<nav
  class="navbar navbar-expand d-flex flex-column align-item-start"
  id="sidebar"
>
  <a href="#" class="navbar-brand text-light mt-5">
    <div class="display-5 fw-bold">GURU</div>
  </a>

  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <!-- HOME -->
    <li class="nav-item w-100">
      <a href="/" class="nav-link text-light pl-4 fw-bold">Home</a>
    </li>

    <!-- FTK DROPDOWN LIST -->
    <li class="nav-item dropdown w-100">
      <a
        href="#"
        class="nav-link text-light pl-4 fw-bold dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="true"
        >FTK
      </a>
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a href="/FTK01" class="dropdown-item text-light pl-4 p-2 fw-bold"
            >FTK 01
          </a>
        </li>
      </ul>
    </li>

    <!-- RELATIVITY DROPDOWN LIST -->
    <li class="nav-item dropdown w-100">
      <a
        href="#"
        class="nav-link text-light pl-4 fw-bold dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="true"
        >RELATIVITY
      </a>
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2 fw-bold"
            >COMING SOON
          </a>
        </li>
      </ul>
    </li>

    <!-- MOBILE DROPDOWN LIST -->
    <li class="nav-item dropdown w-100">
      <a
        href="#"
        class="nav-link text-light pl-4 fw-bold dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="true"
        >MOBILE
      </a>
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a href="#" class="dropdown-item text-light pl-4 p-2 fw-bold"
            >COMING SOON
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
