<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="center">
        <h1>FTK01</h1>
      </div>

      <div class="center">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          quo cum quaerat id natus voluptatibus debitis consequuntur ratione
          odio quasi esse tempore officiis repellendus autem veniam sequi porro
          corporis, et atque alias ex qui reiciendis! Similique sint deserunt
          aliquam velit, architecto repudiandae qui sed magnam in molestias
          saepe blanditiis voluptate nam tenetur sequi optio quia facere atque
          ipsam vel ullam. Illo repellat dolorum molestiae quo odio est magni
          nisi quos veritatis hic! Eum cumque doloribus voluptatibus placeat?
          Natus inventore, quae doloribus dolore architecto consequuntur a
          minima dignissimos quaerat repudiandae rerum earum soluta omnis
          obcaecati excepturi qui quisquam aut laborum repellendus.
        </h3>
      </div>

      <div class="center">
        <img
          src="../../public/assets/images/aesthetic-neon-wallpaper-preview.jpg"
          alt=""
        />
      </div>

      <div class="center">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          quo cum quaerat id natus voluptatibus debitis consequuntur ratione
          odio quasi esse tempore officiis repellendus autem veniam sequi porro
          corporis, et atque alias ex qui reiciendis! Similique sint deserunt
          aliquam velit, architecto repudiandae qui sed magnam in molestias
          saepe blanditiis voluptate nam tenetur sequi optio quia facere atque
          ipsam vel ullam. Illo repellat dolorum molestiae quo odio est magni
          nisi quos veritatis hic! Eum cumque doloribus voluptatibus placeat?
          Natus inventore, quae doloribus dolore architecto consequuntur a
          minima dignissimos quaerat repudiandae rerum earum soluta omnis
          obcaecati excepturi qui quisquam aut laborum repellendus.
        </h3>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
